html { box-sizing: border-box;}
*, 
*::before,
*::after {
    box-sizing: inherit;
    vertical-align: top;
}
body {
font-family: "PlayfairDisplay-Regular","AdobeInvisFont","MyriadPro-Regular";
color: #626262;
font-size: 14px;
line-height: 21px;
}
.site-navigation a {
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400px;
    font-size: 14px;
    line-height: 11px;
}
.site-navigation li:not(:last-child) {
margin-right: 73px;
} 

a:hover {
    color: #03a9f4;
}
.site-navigation {
    list-style: none;
    margin: 0; 
    font-size: 0; 
}
.page__container {
    margin-left: 26px; 
    margin-top: 20px;
    
}
.article:not(:nth-child(even)) {
    margin-right: 14px;
}

.container {
    width: 937px;
    margin: 0 auto;
    font-size: 0;
}
.site-navigation li { 
    display: inline-block;
    font-size: 14px;
    font-size: 0; 
    vertical-align: top;
 }
 .article {
     display: inline-block;
     font-size: 0; 
 }
 .nav {
    text-align: center;
    padding: 77px;
  }

p { color: #626262;
    font-size: 14px;
    width: 414px;
    height: 63px;
    text-align: left;
}
h3 {
    color: #B4AD9E;
    line-height: 11px;
    font-size: 14px;
    height: 11px;
    text-transform: uppercase;
}

    h2 {
    color: #626262;
    font-size: 30px;
    height: 30px;
    }
    button {
        width: 165px;
        height: 60px;
        background-color: #ffffff;
    }
    .button { 
        text-align: center;
        margin: 54px 0 70px;
    }